<template name="post_item">
    <div class="grid-post">
        <div class="grid-post-content">
            <a class="grid-post-thumbnail" href="/posts/{{_id}}">
                <img src="{{thumbnail}}"/>
            </a>

            <div class="clerfix grid-post-info">
                {{> postUpvote}}
                {{#if url}}
                <a class="grid-post-title" href="{{url}}">{{title}}</a>
                {{else}}
                <span class="grid-post-title">{{title}}</span>
                {{/if}}
                {{#if isNaturalIcon}}<a href="/posts/{{_id}}" class="grid-post-natural">N</a>{{/if}}
                <a class="discuss-link go-to-comments" href="/posts/{{_id}}">
                    <i class="icon-comment"></i>
                    <span class="count">{{commentsCount}}</span>
                </a>
            </div>
        </div>
    </div>
</template>